<div class="flex bg-gray-300 border-b-2">
	<div class="h-15 bg-transparent border-r-2 w-auto cursor-pointer ">
		<h1 class="m-4 text-base lg:text-3xl text-center font-bold">BrainWave</h1>
	</div>
	<div class="flex w-[100%] bg-gray-300 justify-center flex-col m-4 w-3/4 h-10">
		<div class="flex justify-center items-center">
			<h1 class="text-3xl font-bold">...(( Under Maintenance ))...</h1>
		</div>
		<div class="w-5 h-5 rounded-full bg-gray-400 md:hidden absolute right-5
		*:absolute *:bg-white *:w-1 *:h-1 *:rounded-full flex flex-row items-center justify-center">
			<div class="mb-2.5"></div>
			<div></div>
			<div class="mt-2.5"></div>
		</div>
	</div>
</div>